{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Enter algorithm input!</legend>

            <div class="form-group">
                {{ form.items.label(class="form-control-label") }}

                {% if form.items.errors %}
                {{ form.items(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.items.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.items(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.num_of_bins.label(class="form-control-label") }}
                {% if form.num_of_bins.errors %}
                {{ form.num_of_bins(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.num_of_bins.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.num_of_bins(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.algorithm.label(class="form-control-label") }}
                {{ form.algorithm(class="form-control form-control-lg") }}
            </div>

        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>
{% endblock content %}
